* {
    margin:0;
    box-sizing: border-box;
}
html {
    background-color: white;
    height: 100%;
    width: 100%;
    font-style: aton, serif, sans-serif;
}

h1,h2 {
    color: #F15A29;
}
#banner {
    width: 100%;
    height: 400px;
    background-image: url("./assets/backgrounds/landing.jpg");
    background-size: 100% 400px;
    background-repeat: no-repeat;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner img {
    width: 20%;
    margin: auto;
}

#banner h3 {
    width: 30%; 
    margin: auto;
    text-align: center;
    color: white;
}

.main_navigation>ul>li>a {
    text-decoration: none;
}

@media only screen and (max-width: 480px){
    .dishes_images {
        flex-direction: column;

    }
    .dishes_types {
        display: block;
        height: auto;
        /*flex-direction: column;*/
    }

    .dishes_type {
        width: 100%;
    }

    .drinks_container, .fast_food {
        display: block;
        height: auto;

    }
    .drinks_images, .drinks_description, .fast_food_description, .fast_food_images {
        width: 65%;
        display: block;
        height: auto;
    }

    .testimonials_container {
        width: 100%;
        height: auto;
    }

    .testimonials{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 60%;
    }
}

ul {
    list-style: none;
}

.first {
    background: white;
    color: rgb(130, 60, 60);
}
.sm-tiles{
    width: 25%;
    display: flex;
    height: 200px;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sm_tiles_item {
    height: 200px;
    width: 100%;
    color: white;
    align-items: center;
}
.section_map {
    width: 100%;
    display: flex;
}
.party_time {
    background: red;
    color: white;
}

.happy_hour {
    background: white;
    color: black;
}

.breakfast {
    background-image: url("./assets/foodtop/breakfast.jpg");
    justify-content: center;
    background-repeat: no-repeat;
}

.happy_hour p, .party_time p {
    display: flex;
    justify-content: center;
}

.lunch {
    background-image: url("./assets/foodtop/lunch.jpg");
    justify-content: center;}

.dinner {
    background-image: url("./assets/foodtop/dinner.jpg");
    justify-content: center;
}
.fast_food {
    display: flex;
    padding: 5px;
    height: 300px;
    margin: 10px;
}

main .fast_food, main .drinks_container {
    width: 70%;
    margin:auto;
}

.drinks_container {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}
.fast_food_description, .drinks_description {
    width: 50%;
    padding: 5px;
    margin: 5px;
}
.drinks_description {
    text-align: right;
}
.fast_food_description {
    text-align: left;
    margin: 20px;
}
.fast_food_description h2,
.fast_food_description h3, 
.fast_food_description p,  
.fast_food_description button {
    padding-top: 10px;
    margin-top: 10px;
}
.drinks_description h2, .drinks_description p,
.drinks_description button, .drinks_description h3{
    padding-top: 10px;
    margin-top: 10px;
}

.fast_food button, .drinks_container button {
    padding: 10px;
    background-color:rgba(239, 226, 226, 0.8);
}
.drinks_images{
    width: 50%;
    display: flex;
    margin: 5px;
    box-shadow: 4px 10px ;
}

.drinks_image{
    width:50%;
    height: 300px;
}
.fast_food_images {
    display: flex;
    flex-direction: column;
}

.fast_food_image{
    height: 50%;
}
.main_navigation>ul>li{
    text-decoration: none;
}
.dishes_container {
    width: 100%;
    height: 500px;
    background-image: url("./assets/backgrounds/foodsBg.jpg");
    background-size: contain;

}
.dishes_items {
    height: 60%;
    width: 80%;
    margin: auto;
    background-color: white;
    position: relative;
    top:100px;
}
.dishes_navigation{
    background-color: rgb(239, 225, 225);
    margin: 0;
    width: 100%;
}
.dishes_types {
    display: flex;
    width: 100%;
    margin:0;
    padding-left: 0;
    text-decoration: none;
    justify-content: space-around;
}
.dishes_type {
    width: 25%;
    padding: 20px;
    border-left: 1px solid green;
    text-align: center;
}
.dishes_type:hover {
    background: white;
    color: rgb(130, 60, 60);
}
.dishes_images {
    width: 100%;
    height: 240px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}


.dishes_image {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 200px;
    margin-top: 20px;
    padding: 10px;
}

input[type="email"]{
    background: rgba(250, 247, 247, 0.8);
    border: none;
}
.dishes_image h4 {
    margin-top: 10px;
    color: green;
}
.testimonials_container {
    width: 100%;
    height: 300px;
}
.testimonials {
    width: 70%;
    margin: auto;
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    border: 1px solid blue;
}

.footer_container h3 {
    margin: 10px;
}
.testimonials_item {
    width:48%;
    text-align: center;
}

.subscribe {
    width: 100%;
    height: 200px;
    background-image: url("./assets/backgrounds/subscribe.jpg");
    background-size: contain;
    color: white;

}

.subscribe h3 {
    text-align: center;
    font-size: 1.3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    height: 300px;
    background-color: rgb(71, 197, 21);
    color: white;
}
.footer_container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.burger_foot {
    width: 30%;
    margin: auto;
    display: flex;
    padding-top: 50px;
    align-items: center;
}

.burg_foot_menu {
    margin-left: 30px;
}

.burger_foot_item {
    padding: 20px;
}

.burger_foot p{
    font-size: 30px;
}

.social_links {
    width: 40%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.subscribe_form {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.subscribe_form input .subscribe_form button{
    margin:10px;
}
.subscribe_form input{
    width: 55%;

}

.subscribe_form button {
     background-color: green;
     padding: 10px;
     width: 20%;
     margin-left: 20px;
}
